/*
    Made by /u/Xeoth

    Please credit me if you take anything from here. Thanks!

    new text yay
*/

/* font */
body {
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto",
    "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, Helvetica, sans-serif;
  font-size: 10pt;
}

/* banner image */
#header {
  height: 200px;
  background-image: url(%%new-banner-crop%%);
}

/* sub name */
#header-bottom-left .redditname {
  display: none;
}

/* hot/new/rising/controv. */
#header-bottom-left {
  margin-top: 132px;
}

.tabmenu li a {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  margin-left: 0;
  border-top-left-radius: 7.5px;
  border-top-right-radius: 7.5px;
  background-color: green;
  color: white;
  transition: 0.3s;
}

.tabmenu li a:hover {
  background-color: limegreen;
}

.tabmenu li.selected a {
  background-color: limegreen;
  color: white;
  border: none;
  margin-bottom: 10px;
}

/* report/remove/spam/approve buttons */
.flat-list.buttons .report-button a {
  color: red;
}

.flat-list.buttons .remove-button a {
  color: red;
}

.flat-list.buttons .approve-button a {
  color: green;
}

.flat-list.buttons .lock-button a {
  color: #ffc400;
}

.flat-list.buttons .tb-comments-lock-button a {
  color: #ffc400;
}

/* SIDEBAR */

/* submit buttons */
.morelink {
  background-image: url(%%post-submit-header%%);
  transition: 0.3s;
}

.morelink:hover {
  background-image: url(%%post-submit-header%%);
  opacity: 0.75;
}

.nub {
  display: none;
}

.morelink a {
  color: #000;
}

/* main rules */
.side .md ol {
  border-left: 5px solid green;
  background-color: lightgreen;
  border-radius: 5px;
  padding-top: 30px;
  padding-bottom: 5px;
  margin-top: -25px;
  font-size: 1.1em;
  display: block;
}

/* rule descriptions */
.side .md ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
}

.side .md:hover ol {
  font-weight: bold;
}

.side .md:hover ul {
  display: inline-block;
  font-weight: normal;
}

/* rules header */
.side .md h3 {
  position: relative;
  top: 15px;
  text-align: center;
}

/* posts */
.thing {
  padding-top: 5px;
}

/* comments */
.usertext-body {
  opacity: 100%;
}

/* RES NIGHTMODE */
.res-nightmode #header {
  background-image: url(%%dark-mode-banner%%);
}
