# username/password are the credentials to your account, you can get the rest at the apps page: https://www.reddit.com/prefs/apps
credentials:
  username: 
  password: 
  client_id: 
  client_secret: 
options:
  two_factor_auth: False # change to True if you're using 2FA
  subreddit: xeothtest # the subreddit name, without the r/